base-ws/src/main/webapp/WEB-INF/v1/wsdl/pessoa/juridica/AtualizarPessoaJuridica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AtualizarPessoaJuridicaService"
    targetNamespace="http://ibk.com.br/v1/pessoa/juridica"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://ibk.com.br/v1/pessoa/juridica"
    xmlns:fault="http://ibk.com.br/v1/fault">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://ibk.com.br/v1/fault" schemaLocation="../../../fault/ServicoFault.xsd" />
        </xsd:schema>
        <xsd:schema targetNamespace="http://ibk.com.br/v1/pessoa/juridica">
            <xsd:include schemaLocation="AtualizarPessoaJuridica.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="atualizarPessoaJuridicaDadosSocioInputMsg">
        <wsdl:part name="input" element="tns:atualizarPessoaJuridicaDadosSocioInput" />
    </wsdl:message>
    <wsdl:message name="atualizarPessoaJuridicaDadosSocioOutputMsg">
        <wsdl:part name="output" element="tns:atualizarPessoaJuridicaDadosSocioOutput" />
    </wsdl:message>
    
    <wsdl:message name="atualizarPessoaJuridicaDadosComplementaresInputMsg">
        <wsdl:part name="input" element="tns:atualizarPessoaJuridicaDadosComplementaresInput" />
    </wsdl:message>
    <wsdl:message name="atualizarPessoaJuridicaDadosComplementaresOutputMsg">
        <wsdl:part name="output" element="tns:atualizarPessoaJuridicaDadosComplementaresOutput" />
    </wsdl:message>

    <wsdl:message name="atualizarPessoaJuridicaFault">
        <wsdl:part name="fault" element="fault:servicoFault" />
    </wsdl:message>

    <wsdl:portType name="AtualizarPessoaJuridicaPortType">
        
        <wsdl:operation name="atualizarPessoaJuridicaDadosSocio">
            <wsdl:input name="atualizarPessoaJuridicaDadosSocioInput" message="tns:atualizarPessoaJuridicaDadosSocioInputMsg" />
            <wsdl:output name="atualizarPessoaJuridicaDadosSocioOutput" message="tns:atualizarPessoaJuridicaDadosSocioOutputMsg" />
            <wsdl:fault name="fault" message="tns:atualizarPessoaJuridicaFault" />
        </wsdl:operation>
        
        <wsdl:operation name="atualizarPessoaJuridicaDadosComplementares">
            <wsdl:input name="atualizarPessoaJuridicaDadosComplementaresInput" message="tns:atualizarPessoaJuridicaDadosComplementaresInputMsg" />
            <wsdl:output name="atualizarPessoaJuridicaDadosComplementaresOutput" message="tns:atualizarPessoaJuridicaDadosComplementaresOutputMsg" />
            <wsdl:fault name="fault" message="tns:atualizarPessoaJuridicaFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AtualizarPessoaJuridicaBinding" type="tns:AtualizarPessoaJuridicaPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="atualizarPessoaJuridicaDadosSocio">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="atualizarPessoaJuridicaDadosSocioInput">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="atualizarPessoaJuridicaDadosSocioOutput">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="atualizarPessoaJuridicaDadosComplementares">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="atualizarPessoaJuridicaDadosComplementaresInput">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="atualizarPessoaJuridicaDadosComplementaresOutput">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>

    <wsdl:service name="AtualizarPessoaJuridicaService">
        <wsdl:port name="AtualizarPessoaJuridicaPort" binding="tns:AtualizarPessoaJuridicaBinding">
            <soap:address location="http://localhost:8080/base-ws/v1/pessoa/juridica/AtualizarPessoaJuridicaService?wsdl" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>